<div class="card">
    <div class="content">

        <span>{{ subject | slice:0:10 }}<span *ngIf="subject.length>10">...</span> </span>

        <!-- [disabled]="task.state===TaskState.Finish" -->
        <button type="button" [attr.disabled]="state===TaskState.Finish?'disabled':null" (click)="edit.emit()" >edit</button>

        <!-- <span [style.color]="getStateColor()">{{ getStateDesc() }}</span> -->
        <!-- <span [class.doing]="task.state===TaskState.Doing" [class.finish]="task.state===TaskState.Finish">
            {{ getStateDesc() }}
        </span> -->

        <!-- <span [class]="{doing: state===TaskState.Doing, finish:state===TaskState.Finish}">
            {{ stateDesc }}
        </span> -->

        <span [ngClass]="stateClass">
            {{ stateDesc }}
        </span>

        <span [appTaskStateColor]="state">{{stateDesc}}</span>



    </div>


    <div class="tags">
        <span class="tag" *ngFor="let tag of tags | slice: 0:2 ">{{ tag | titlecase }}</span>
        <span *ngIf="tags.length>2">({{tags.length-2}})</span>
    </div>



    <div class="button">
        <span>
            <button type="button" (click)="onSetTaskState(TaskState.None)">
                未完成
            </button>
            <button type="button" (click)="onSetTaskState(TaskState.Doing)">
                進行中
            </button>
            <button type="button" (click)="onSetTaskState(TaskState.Finish)">
                已完成
            </button>
        </span>



        <span [ngSwitch]="state">

            <ng-container *ngSwitchCase="TaskState.Doing">
                預計完成日期：{{expectDate | date:'yyyy-MM-dd HH:mm:ss':'+0000' }}
            </ng-container>
            <ng-container *ngSwitchCase="TaskState.Finish">
                實際完成日期：{{finishedDate | date:'yyyy-MM-dd HH:mm:ss'}} {{finishedDate |taiwanDate}}
            </ng-container>
            <ng-container *ngSwitchDefault>
                預估等級：{{level}}
            </ng-container>

        </span>



    </div>


</div>