<ng-container *ngIf="tasks.length===0;then dataEmpty;else list">
</ng-container>

<ng-template #dataEmpty>
    <div class="data-empty">none</div>
</ng-template>


<ng-template #list>
    <app-task *ngFor="let task of tasks; let i=index" [class.odd]="i%2===1" [in_subject]="task.subject"
        [subject]="task.subject" [(state)]="task.state" [level]="task.level" [tags]="task.tags" [expectDate]="task.expectDate"
        [finishedDate]="task.finishedDate"></app-task>
    <!-- [class.odd]="odd" -->
</ng-template>