<ng-container *ngIf="!taskList$ || taskList$.data.length===0;then dataEmpty;else list">
</ng-container>

<ng-template #dataEmpty>
    <div class="data-empty">none</div>
</ng-template>


<ng-template #list>
    <app-task *ngFor="let task of taskList$.data; let i=index" [class.odd]="i%2===1" [subject]="task.subject"
        [(state)]="task.state" [level]="task.level" [tags]="task.tags" [expectDate]="task.expectDate"
        [finishedDate]="task.finishedDate"></app-task>
    <!-- [class.odd]="odd" -->
</ng-template>

<div>
    <strong>AppComponent</strong>
    <button type="button" (click)="counterService.add()">
        Add {{ counterService.count }}
    </button>
</div>