<ng-container *ngIf="!taskList$ || taskList$.data.length===0;then dataEmpty;else list">
</ng-container>

<ng-template #dataEmpty>
    <div class="data-empty">none</div>
</ng-template>


<!-- 
<div class="search">
    <div>
        <div class="input">
            <input type="text" [(ngModel)]="subject" placeholder="subject" />
            <input type="text" #subject="ngModel" ngModel placeholder="subject" />
        </div>
        <div class="button">
            <button (click)="onSearch(subject)">Search</button>
        </div>
    </div>
</div> -->


<form class="search" #form="ngForm" (submit)="onSearch(form)">

    <div>
        <div class="input">
            <input type="text" name="subject" #subject="ngModel" ngModel placeholder="subject" required minlength="2"
                maxlength="10" />
            <select name="status" #status="ngModel" ngModel>
                <option value=""></option>
                <option value="0">none</option>
                <option value="1">doing</option>
                <option value="2">finish</option>
            </select>
        </div>

        <div>
            <span>{{form.value | json }}</span>
            <button type="submit">search</button>
        </div>

    </div>


    <div ngModelGroup="user" #user="ngModelGroup">
        <input type="text" name="name" #name="ngModel" ngModel />
        <input type="text" name="sex" #sex="ngModel" ngModel />
    </div>


    <ul *ngIf="form.touched && form.invalid">
        <li *ngIf="subject.hasError('required')">subject is required</li>
        <li *ngIf="subject.hasError('minlength')">
            最少需要 {{ subject.errors.minlength.requiredLength }} 個字
        </li>
    </ul>

</form>





<ng-template #list>
    <app-task *ngFor="let task of taskList$.data; let i=index" [class.odd]="i%2===1" [subject]="task.subject"
        [(state)]="task.state" [level]="task.level" [tags]="task.tags" [expectDate]="task.expectDate"
        [finishedDate]="task.finishedDate"></app-task>
    <!-- [class.odd]="odd" -->
</ng-template>

<div>
    <strong>AppComponent</strong>
    <button type="button" (click)="counterService.add()">
        Add {{ counterService.count }}
    </button>
</div>