div.data-empty {
    margin: 5px;
    font-size: 14pt;
    line-height: 2em;
    text-align: center;
    color: #444;
    border: solid 1px #ccc;
}
.search {
    padding: 10px;
}

.search div {
    display: flex;
    justify-content: space-between;
}

.search div.input {
    margin-right: 10px;
    flex-grow: 1;
    display: flex;
}

.search div.input input {
    flex-grow: 1;
}

.search div.button * {
    margin-right: 4px;
}
