
<p>home works!</p>


<button type="button" (click)='getTest()'>get test</button>

<br><br>
<button type="button" (click)='postTest()'>post test</button>


<br><br>




<form [formGroup]="form" (ngSubmit)="onSubmit()" enctype="multipart/form-data" multiple>

  <input type="text" formControlName="account">
  <br>
  <input type="text" formControlName="password">
  <br>
  <input type="file" name="file" (change)="onFileSelect($event)" multiple>
  <!-- <input type="file" name="file" (change)="onFileSelect($event)" > -->

  <br><br>
  <button type="submit" [disabled]="!form.valid || isSubmit">
    Submit
  </button>

</form>

<br><br>
{{ 'home' | language : this.languageService.changeLang }}
<br>
{{ 'text' | language : this.languageService.changeLang }}
<br>

<!-- {{this.languageService.langText["home"]}} -->

<br><br>
<button (click)="getLangServiceLang()">getLangServiceLang</button>


<br><br>

<button (click)="export()">export</button>

<br><br>
<button (click)="table_to_sheet()">table_to_sheet()</button>

<table id="demo-table" >
  <thead>
    <tr>
      <th>Name</th>
      <th>Index</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of data">
      <td>{{item.Name}}</td>
      <td>{{item.Index | number}}</td>
      <td>{{item.Date | date:'yyyy-MM-dd HH:mm:ss' }}</td>
    </tr>
  </tbody>
</table>



<br><br><br>
<button (click)="exceljs()">exceljs</button>
<br><br><br>
<button (click)="exportJson()">exportJson</button>

