<p>home works!</p>


<button type="button" (click)='getTest()'>get test</button>

<br><br>
<button type="button" (click)='postTest()'>post test</button>


<br><br>




<form [formGroup]="form" (ngSubmit)="onSubmit()" enctype="multipart/form-data" multiple>

  <input type="text" formControlName="account">
  <br>
  <input type="text" formControlName="password">
  <br>
  <input type="file" name="file" (change)="onFileSelect($event)" multiple>
  <!-- <input type="file" name="file" (change)="onFileSelect($event)" > -->

  <br><br>
  <button type="submit" [disabled]="!form.valid || isSubmit">
    Submit
  </button>

</form>

<br><br>
{{ 'home' | language : this.languageService.changeLang }}
<br>
{{ 'text' | language : this.languageService.changeLang }}
<br>

<!-- {{this.languageService.langText["home"]}} -->

<br><br>
<button (click)="getLangServiceLang()">getLangServiceLang</button>


<br><br>

<table>
  <thead>
    <tr>
      <th>title1</th>
      <th>title2</th>
      <th>title3</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>aaa</td>
      <td>bbb</td>
      <td>ccc</td>
    </tr>
    <tr>
      <td>aaa</td>
      <td>bbb</td>
      <td>ccc</td>
    </tr>
    <tr>
      <td>aaa</td>
      <td>bbb</td>
      <td>ccc</td>
    </tr>
    <tr>
      <td>aaa</td>
      <td>bbb</td>
      <td>ccc</td>
    </tr>
  </tbody>
</table>
