/* You can add global styles to this file, and also import other style files */
.br-1px {
    border: 1px solid gray;
}
.compentent-title{
    background: gray;
    color: #ffffff;
    padding: 0 5px;
}