<form [formGroup]="form">

    <div class="form-field">
        <label>subject</label>
        <input type="text" formControlName="subject" />
    </div>

    <ul *ngIf="subject.touched && subject.invalid">
        <li *ngIf="subject.hasError('required')">subject is required</li>
        <li *ngIf="subject.hasError('shouldBeUnique')">subject shouldBeUnique</li>
    </ul>


    <div class="form-field">
        <label>level</label>
        <select formControlName="level">
            <option value=""></option>
            <option value="XS">XS</option>
            <option value="S">S</option>
            <option value="M">M</option>
            <option value="L">L</option>
            <option value="XL">XL</option>
        </select>
    </div>

    <ul *ngIf="level.touched && level.invalid">
        <li *ngIf="level.hasError('required')">level is required</li>
    </ul>


    <div class="tags-field">
        <button type="button" (click)="onAddTag()">add tag</button>

        <div formArrayName="tags" *ngFor="let control of tags.controls; let index=index">
            <input type="text" [formControl]="control">

            <button type="button" (click)="onDeleteTag(index)">delete</button>

            <!-- <ng-container [formGroupName]="index"> -->
            <!-- <input type="text" formControlName="tag" /> -->
            <!-- </ng-container> -->
        </div>

    </div>


    <ul *ngIf="tags.invalid">
        <li *ngIf="tags.hasError('cannotEmpty')">tags cannotEmpty</li>
    </ul>





    <div class="button">
        <button type="button" (click)="onSave()">Save</button>
    </div>

</form>



<br><br>

<pre>{{form.value | json }}</pre>

<br><br>