<form [formGroup]="form">
    <div class="form-field">
        <label>subject</label>
        <input type="text" formControlName="subject" />
    </div>

    <div class="form-field">
        <label>level</label>
        <select formControlName="level">
            <option value=""></option>
            <option value="XS">XS</option>
            <option value="S">S</option>
            <option value="M">M</option>
            <option value="L">L</option>
            <option value="XL">XL</option>
        </select>
    </div>


    <div class="tags-field">
        <button type="button" (click)="onAddTag()">add tag</button>

        <div formArrayName="tags" *ngFor="let control of tags.controls; let index=index">
            <ng-container [formGroupName]="index">
                <input type="text" formControlName="tag" />
            </ng-container>
        </div>

    </div>



</form>

<br><br>

<pre>{{form.value | json }}</pre>

<br><br>